@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html, body{
    width:100vw;    
    height:100vh;
    margin: 0;
    padding:0;}
body, header, main, footer{
    display: flex;
    flex-direction: column;}
header{
    height: 20vh;
    text-align: center;
    overflow:hidden;    
/* border:solid 2px #a7f106; */
}
.wrap_header h1,h6{   
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;}
.wrap_header h1{
    font-size: 25vw;
    background-color: #585247;
    text-shadow: -.5vmin .5vmin #ffffff;}
.wrap_header h6{
    font-size: 8vw;
    background:#ffffff;}
main{
    height:75vh;
    align-items: center;
    margin-top:5vh;
/* border:solid 2px #f01919; */
}
#nav_wrap{
    position: absolute;
    top: 25vh;
    width: 50vw;
    height:auto;
    border-radius:100%;}
.nav_bar_sim{
    width: 100%;
    height:auto;
    background-image: url("../img/nav_bar_sim.png");
    background-size: cover;
    background-repeat: no-repeat;}
.central_logo{ 
    display: none;
    position:absolute;   
    width: 50vw;
    height: auto;
    top: 25vh;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 4vw #ffffff;}
.quadrant{
    /* display: none; */
    position:absolute;
    text-align: center;
    overflow:hidden;
    width: 50vw;
    height: 15vh;
    border-radius: 10% 10% 0 0;
    transform: scale(0.6);}
.quadrant span{
    overflow:hidden;
    /* background-color: #f01919; */
    font-family: 'Bangers', cursive;
    font-size: 10vw;
    font-weight: bolder;
    text-transform: uppercase;}        
#q01{
    top: 22.5vh;
    left: 10vw;
    transform: rotate(-45deg);}
#q02{
    top: 22vh;
    left: 39vw;
    transform: rotate(45deg);}
#q03{
    top: 35vh;
    left: 39vw;
    transform: rotate(135deg);}
#q04{
    top: 35vh;
    left: 10vw;
    transform: rotate(225deg);
}
#sp01{
    /* left:11vmin ;
    top:12vmin;    
    opacity: 1; 
    transform-origin: 10% 10%;
    transition: transform 5s, opacity 5s; */
}
#sp02{
/* left:-3vw;
top:13vh;
opacity: 1; 
transform-origin: 10% 10%;
transition: transform 5s, opacity 5s; */
}
#sp03{
    /* left:12vmin ;
    top:14vmin; */
}
#sp04{
    /* left:-5vmin;
    top:12vmin; */
    /* transform: scaleX(-1); */
}
#qinfo{
    position: relative;
    width: 80vw;
    height: 30vh;
    top: 33vh;
    margin: 2vw;
    border-radius: 5vw;
    background:#585247;
    display:none;}
.quadrant:hover {
    cursor: pointer;
    background-color: #0d0d0e;
    color: #ffffff;
}
footer{
    height:15vh;
    background-color: #5f5e5e;}        

/* MEDIA QUERIES */
/* Based on Chrome DevTools Breakpoints */

/* Mobile-M */
@media (min-width: 374px) {

}
/* Mobile-L */
@media (min-width: 424px) {

}
/* Tablet */
@media (min-width: 767px) {
    .main{
        margin-top: 5vh;}
    .wrap_header h1 {
        font-size: 15vw;}
    .wrap_header h6 {
        font-size: 5vw;}
}
/* Laptop */
@media (min-width: 1023px) {
    .wrap_header h1 {
        font-size: 11vw;}
    .wrap_header h6 {
        font-size: 4vw;}
}
/* Laptop-L */
@media (min-width: 1440px) {
    .wrap_header h1 {
        font-size: 7vw;}
    .wrap_header h6 {
        font-size: 2.5vw;}
}


