@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body,html{
    margin:0;
    padding:0;
    height:100%;}
body{
    display: flex;
    flex-direction: column;
}
header{
    height:10%;
}
main{
    display: flex;
    flex-direction: column;
    height:85%;
    align-items: center;
    justify-content: space-between;
}
footer{
    height:10%;
    background-color: #5f5e5e;
}
.wrap_header{
    height: 100%;
    margin: 0;
    padding:0;
    font-family: 'Bangers', cursive;
    text-align: center;
}
.wrap_header h1,h5{   
    padding:0;
    margin:0;
}
.wrap_header h1{
    background-color: #585247;
    text-shadow: -.5vmin .5vmin #ffffff;
}
.wrap_header h5{
    background:#ffffff;
}
.wrap_nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    margin:30vmin auto;
    width:35vmin;
    height:35vmin;
    border-radius:100%;
    background:#585247;
    transform:translateZ(0px);
    /* opacity: 1; */
}
.nav_bar{
    margin:0 auto;
    width:65%;height:10px;
    background:#ACA696;
    /* left:6vmin; top:14vmin; */
    border-radius:0;
}
.wrap_quadrant_info{
width:80vmin;
height: 20vmin;
margin:5vmin auto;
border-radius:1vmin;
background-color: #f01919;
}


/* span{
    position:relative;
    display:block;
    margin:0 auto;
    top:25vmin;
    width:30vmin; height:30vmin;
    border-radius:100%;
    background:#585247;
    transform:translateZ(0px);
    opacity: 1
} */

span span{
    position:absolute;
    width:60%;height:15px;
    background:#ACA696;
    left:6vmin; top:14vmin;
    border-radius:0;
}
span span:after, span span:before{
  content:'';
  position:absolute;
  left:0; top:-6vmin; 
  width:100%; height:100%;
  background:inherit;
}
span span:after{
  top:6vmin;
}



.wrap_quadrants{ /*hidden until hover on span*/
    position:relative;
    width:80vmin; height:80vmin;
    top: -40vmin;
    margin:0 auto;
    transform:scale(0.2) translatez(0px);
    opacity:0;
    transition:transform .5s, opacity .5s;
}
.wrap_circles{
    position:relative;
    margin: 0;
    width: 20vmin;
    height: 20vmin;
    top: -90vmin;
    left: 30vmin;
}
.sub_quadrant{ /*hidden until hover on quadrant*/
    position: absolute;
    width: 35vmin;
    height: 35vmin;
    top: -6vmin;
    margin:0 auto;
    transform:scale(0.2) translatez(0px);
    opacity:0;
    transition:transform .5s, opacity .5s;
}
.sq_01{
    background-color: #f01919;
    /* opacity: 1; */
    border-radius: 100%;
    transform-origin: 225% 85%;
    transition:transform .4s .5s;
}
/* a{
    text-decoration: none;
    color: #000000; 
    position:absolute;
    left:0; top:0;
    width:47.5%; height:47.5%;
    overflow:hidden;
    transform:scale(.5) translateZ(0px);
    background:#585247;
} */
/* a:hover{color:#e9e7e5} */
/* a:visited{color:#0eec20} */

.quadrant{
    position:absolute;
    left:0; top:0;
    width:47.5%; height:47.5%;    
    /* opacity:.7; */
    overflow:hidden;
    transition:opacity .5s;
    border-radius:inherit;
    background: #ffffff;
    /* transform:scale(.5) translateZ(0px); */
       
}
.q_01{
    border-radius:40vmin 0 0 0;
    transform-origin: 110% 110%;
    transition:transform .4s .5s;
}
.q_02{
    border-radius:0 40vmin 0 0;
    left:52.5%;
    transform-origin: -10% 110%;
    transition:transform .4s .2s;
}
.q_03{
    border-radius:0 0 40vmin 0;
    top:52.5%; left:52.5%;
    transform-origin: -10% -10%;
    transition:transform .4s .3s;
}
.q_04{
    border-radius:0 0 0 40vmin;
    top:52.5%;
    transform-origin: 110% -10%;
    transition:transform .4s .25s;
}
.q_center{
    position:absolute;
    /* left:0; top:0; */
    /* width:47.5%; height:47.5%;     */
    /* opacity:.7; */
    overflow:hidden;
    transition:opacity .5s;
    /* border-radius:inherit; */
    /* background: #ffffff; */
    /* transform:scale(.5) translateZ(0px); */
    
    width:55%;height:55%;
    left:22.5%; top:22.5%;
    border-radius:50vmin;
    box-shadow:0 0 0 3vmin #3d3d3d;
    transform:scale(1);
    background-image:url('../img/mylogo.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.quadrant span{
    margin:0;
    position: relative;    
    overflow:hidden;
    background-color: transparent;
    font-family: 'Bangers', cursive;
    font-size: 6.5vmin;
    font-weight: bolder;
    text-transform: uppercase;  
    text-align: center;
    opacity: 1;
    border-radius:0;
}
.m_01{
    left:11vmin ;
    top:12vmin;
    transform: rotate(315deg);
    /* opacity: 1;  */
    /* transform-origin: 10% 10%; */
    /* transition: transform 5s, opacity 5s; */
}
.m_02{
    left:-3vmin;
    top:13vmin;
    transform: rotate(45deg);
    /* opacity: 1;  */
    /* transform-origin: 10% 10%; */
    /* transition: transform 5s, opacity 5s; */
}
.m_03{
    left:12vmin ;
    top:14vmin;
    transform: rotate(315deg);
    /* opacity:0;  */
}
.m_04{
    left:-5vmin;
    top:12vmin;
    transform: rotate(45deg);
}


span:hover + .wrap_quadrants, .wrap_quadrants:hover{
  transform:scale(.8) translateZ(0px);
  opacity:1;
}
span:hover + .wrap_quadrants a, .wrap_quadrants:hover a{
  transform:scale(1) translatez(0px);
}
.quadrant:hover {
    cursor: pointer;
    background-color: #0d0d0e;
    color: #ffffff;
}
.quadrant:hover ~ .q_center{ 
    /* background-image: none; */
    /* transform:scale(1); */
    /* opacity:.9; */
}
/* .q_01:hover .sq_01{
    opacity:1;
} */




