@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

html, body{
    width:100vw;    
    height:100vh;
    margin: 0;
    padding:0;}
body, header, main, footer{
    display: flex;
    flex-direction: column;}
header{
    height: 20vh;
    text-align: center;
    overflow:hidden;
    
border:solid 2px #a7f106;
}
.wrap_header{
    /* height: 70%;  */
    /* Allow 30% for more stuff*/}
.wrap_header h1,h6{   
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;}
.wrap_header h1{
    font-size: 25vw;
    background-color: #585247;
    text-shadow: -.5vmin .5vmin #ffffff;}
.wrap_header h6{
    font-size: 8vw;
    background:#ffffff;}
main{
    height:75vh;
    align-items: center;
    margin-top:5vh;

border:solid 2px #f01919;
}
#nav_wrap{
    position: absolute;
    top: 25vh;
    width: 50vw;
    height:auto;
    border-radius:100%;
}
.nav_bar_sim{
    /* position: absolute; */
    /* top: 20vh; */
    width: 100%;
    height:auto;
    /* border-radius:100%; */
    background-image: url("../img/nav_bar_sim.png");
    background-size: cover;
    background-repeat: no-repeat;}
.central_logo{    
    width: 58vw;
    height:auto;
    top: 24vh;
    opacity:1; /*Hidden until hover on .nav_bar_sim*/
    position:absolute;
    overflow:hidden;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 3vw #ffffff;}
.quadrant{/*Hidden until hover on .nav_bar_sim*/
    /* opacity:0; */
    display: none;
    background-color: #f01919;
    /* visibility: hidden; */
    position:absolute;
    overflow:hidden;
    /* background: #afaaaa; */ 
    transform:scale(.6) translatez(0px);
    transition:transform .8s, opacity .8s;}

path {
    width: 20vw;
    fill: black;
    /* fill: transparent; */
}
    
text {
    font-family: 'Bangers', cursive;
    /* font-size: 12vw; */
    font-weight: bolder;
    text-transform: uppercase; 
    fill: #000000;
}
.circles{
    width: 124vw;
    height: auto;
    top: 5vh;
}
.q_01{
    width: 56vw;
    height: 25vh;
    top: 14vh;
    left: -1vw;
    border-radius: 100% 0 0 0;
}
.q_02{
    width: 56vw;
    height: 25vh;
    top: 14vh;
    left: 47vw;
    border-radius: 0 100% 0 0;}
.q_03{
    width: 56vw;
    height: 25vh;
    top: 35vh;
    left: 47vw;
    border-radius: 0 0 100% 0;}
.q_04{
    width: 56vw;
    height: 25vh;
    top: 35vh;
    left: -1vw;
    border-radius: 0 0 0 100%;}


    .m_01{
        left:11vmin ;
        top:12vmin;
        transform: rotate(315deg);
        /* opacity: 1;  */
        /* transform-origin: 10% 10%; */
        /* transition: transform 5s, opacity 5s; */}
    .m_02{
        left:-3vmin;
        top:13vmin;
        transform: rotate(45deg);
        /* opacity: 1;  */
        /* transform-origin: 10% 10%; */
        /* transition: transform 5s, opacity 5s; */}
    .m_03{
        left:12vmin ;
        top:14vmin;
        transform: rotate(315deg);
        /* opacity:0;  */}
    .m_04{
        left:-5vmin;
        top:12vmin;
        transform: rotate(45deg);}
    .quadrant span{
        /* margin:0; */
        position: relative;    
        overflow:hidden;
        /* background-color: transparent; */
        font-family: 'Bangers', cursive;
        font-size: 12vw;
        font-weight: bolder;
        text-transform: uppercase;  
        /* text-align: center; */
        /* opacity: 1; */
        /* border-radius:0; */}

    .wrap_circles{
                    position:relative;
                    margin: 0;
                    width: 20vmin;
                    height: 20vmin;
                    top: -90vmin;
                    left: 30vmin;}
        .sub_quadrant{ /*hidden until hover on quadrant*/
            position: absolute;
            width: 35vmin;
            height: 35vmin;
            top: -6vmin;
            margin:0 auto;
            transform:scale(0.2) translatez(0px);
            opacity:0;
            transition:transform .5s, opacity .5s;}
        .sq_01{
            background-color: #f01919;
            /* opacity: 1; */
            border-radius: 100%;
            transform-origin: 225% 85%;
            transition:transform .4s .5s;}
    .q_info{
        /* position: relative; */
        width: 100vw;
        height: 30vh;
        top: 55vh;
        margin: 5vw;
        border-radius: 5%;
        background:#585247;
        opacity:0;
        /* opacity:1; */
}
footer{
    height:15vh;
    background-color: #5f5e5e;}

/*Display and apply transform to .wrap_quadrant after hover on wrap_nav_sim*/
.nav_wrap:hover ~.quadrant
/* .nav_bar_sim:hover ~.quadrant */
{
    transform:scale(0.8) translateZ(0px);
    opacity:1;
    display:block;
    /* visibility: visible; */
    /* z-index: 1; */
}
.quadrant:hover {
    cursor: pointer;
    background-color: #0d0d0e;
    color: #ffffff;}
        

/* MEDIA QUERIES */
/* Based on Chrome DevTools Breakpoints */

/* Mobile-M */
@media (min-width: 374px) {
    /* .nav_bar_sim {
        height: 26vh;} */
}
/* Mobile-L */
@media (min-width: 424px) {
    /* .nav_bar_sim {
        height: 30vh;} */
}
/* Tablet */
@media (min-width: 767px) {
    .main{
        margin-top: 5vh;
    }
    .wrap_header h1 {
        font-size: 15vw;
    }
    .wrap_header h6 {
        font-size: 5vw;
    }
    /* .nav_bar_sim {
            top: 10vh;
            width: 35vw;
            height: 37vh;} */
    }
/* Laptop */
@media (min-width: 1023px) {
    .wrap_header h1 {
        font-size: 11vw;
    }
    .wrap_header h6 {
        font-size: 4vw;
    }
    /* .nav_bar_sim {
        top: 6vh;
        width: 25vw;
        height: 35vh;} */
    }
/* Laptop-L */
@media (min-width: 1440px) {
    .wrap_header h1 {
        font-size: 7vw;
    }
    .wrap_header h6 {
        font-size: 2.5vw;
    }
    /* .nav_bar_sim {
        top: 0vh;
        width: 18vw;
        height: 35vh;} */
    }


